$colorMaps: (blue:#3296ba,yellow:#f39801,black:#656565);
@mixin shadow($value...)
{
    -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
            box-shadow: $value;
}
@mixin radius($value...)
{
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
            border-radius: $value;
}
@mixin sizing
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin translate($value...)
{
    -webkit-transform: translate3d($value);
       -moz-transform: translate3d($value);
        -ms-transform: translate3d($value);
         -o-transform: translate3d($value);
            transform: translate3d($value);
}

@mixin scale($value...)
{
    -webkit-transform: scale($value);
       -moz-transform: scale($value);
        -ms-transform: scale($value);
         -o-transform: scale($value);
            transform: scale($value);
}

@mixin origin($value...)
{
    -webkit-transform-origin: $value;
       -moz-transform-origin: $value;
        -ms-transform-origin: $value;
         -o-transform-origin: $value;
            transform-origin: $value;
}

@mixin transition($value...)
{
    -webkit-transition: $value;
       -moz-transition: $value;
        -ms-transition: $value;
         -o-transition: $value;
            transition: $value;
}
html,
body
{
    height: 100%;
}
body
{
    font-family: 'Microsoft YaHei';

    -webkit-font-smoothing: antialiased;
}
.mask
{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: .75;
    background: #000;

    filter: alpha(opacity=75);
}
.popup
{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 150px;
    margin: -75px 0 0 -150px;

    border: 1px solid map-get($colorMaps,yellow);
    background: #fff;

    @include radius(5px);
}
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}
.pull-left
{
    float: left;

    @include sizing;
}
.pull-right
{
    float: right;

    @include sizing;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-yellow
{
    color: map-get($colorMaps,yellow)!important;
}
.text-muted
{
    color: #666;
}
.hide
{
    display: none;
}
.show
{
    display: block;
}
ul,
ol,
li
{
    margin: 0;
    padding: 0;

    list-style: none;
}
a
{
    text-decoration: none;

    color: map-get($colorMaps,black);
}
.active a
{
    color: map-get($colorMaps,blue)!important;
}
.container
{
    position: relative;

    width: 1060px;
    margin: 0 auto;

    @include sizing;
}
.btn
{
    color: #222;
    border: 0;
    outline: none;
    background: transparent;
}
.btn-yellow
{
    padding: 10px 20px;

    color: map-get($colorMaps,yellow);
    border: 1px solid map-get($colorMaps,yellow);

    @include radius(5px);
    @include transition(all 1s ease);
}
.btn-yellow:hover,
.clicked
{
    color: #fff;
    background: map-get($colorMaps,yellow);
}
.btn-lg
{
    font-size: 30px;

    padding: 15px 180px;

    @include radius(50px);
}
/*首页*/
/* =================导航栏============== */
.navbar
{
    width: 100%;
    height: 60px;

    background: map-get($colorMaps,blue);
    .container
    {
        height: 60px;
    }
    .pull-left
    {
        img
        {
            width: 25px;
            height: 25px;
            margin-top: 19px;
        }
        li
        {
            float: left;
            a
            {
                font-size: 16px;
                font-weight: bolder;
                line-height: 60px;

                display: block;

                color: #fff;
            }
            &:nth-child(2)
            {
                margin-right: 30px;
            }
        }
    }
    .pull-right
    {
        li
        {
            position: relative;
            z-index: 1;

            display: block;
            float: left;

            height: 60px;
            .tips-img
            {
                position: absolute;
                z-index: 2;
                top: 50px;
                left: -35px;

                display: none;

                width: 100px;
                height: 100px;
                padding: 10px;

                text-align: center;

                border: 1px solid #ccc;
                background: #fff;
                img
                {
                    width: 100px;
                    height: 100px;
                }
                &:after
                {
                    position: absolute;
                    top: -10px;
                    left: 55px;

                    width: 0;
                    height: 0;

                    content: '';

                    border-right: 5px solid transparent;
                    border-bottom: 10px solid #fff;
                    border-left: 5px solid transparent;
                }
            }
            &:hover .tips-img,
            .tips-img:hover
            {
                display: block;
            }
        }
        .qq
        {
            background: url('../../dist/img/qq.png') no-repeat 0 0;
        }
        .weixin
        {
            background: url('../../dist/img/weixin.png') no-repeat 0 0;
        }
        .sina
        {
            background: url('../../dist/img/sina.png') no-repeat 0 0;
        }
        .qq,
        .weixin,
        .sina
        {
            display: block;

            width: 25px;
            height: 25px;
            margin: 15px;

            cursor: pointer;

            background-size: 25px 25px;
        }
        .sina
        {
            margin-right: 0;
        }
    }
}
/* ================主导航栏=================*/
nav
{
    width: 100%;
    height: 90px;
    padding: 5px 0;
    .container
    {
        height: 80px;
    }
    .logo
    {
        margin-top: 5px;
        img
        {
            width: 200px;
            height: 70px;
        }
    }
    li
    {
        float: left;

        margin: 32px 30px;
        a
        {
            font-weight: bolder;

            @include transition(color 1s ease);
            &:hover
            {
                color: map-get($colorMaps,blue);
            }
        }
        &:last-child
        {
            margin-right: 0;
        }
    }
}
/* ================内容1=================*/
.section-header
{
    overflow: hidden;

    width: 100%;
    .bg-img
    {
        padding: 10px 0 20px 0;

        background: url('../../dist/img/bg1.jpg') no-repeat center center;
        background-size: cover;
    }
    .bg-title
    {
        font-size: 60px;
        font-weight: bolder;

        margin: 0 0 40px 0;

        color: map-get($colorMaps,yellow);
    }
    article > p
    {
        font-weight: bolder;

        margin: 15px 0;

        text-align: center;

        color: map-get($colorMaps,blue);
    }
    .list-box li
    {
        font-size: 18px;

        float: left;

        min-width: 50%;
        margin: 10px 0;

        color: map-get($colorMaps,yellow);
        &:before
        {
            display: inline-block;

            width: 15px;
            height: 15px;
            margin-right: 40px;

            content: '';

            background: map-get($colorMaps,yellow);

            @include radius(50%);
        }
    }
    .bs-info-box
    {
        margin: 20px 0;
        .pull-left
        {
            width: 40%;
        }
        .pull-right
        {
            width: 60%;
        }
        .blue-box
        {
            width: 250px;
            height: 150px;
            margin-left: 130px;

            color: map-get($colorMaps,blue);
            border: 2px solid map-get($colorMaps,blue);
            h3,
            p
            {
                font-size: 30px;
            }
            h3
            {
                font-weight: normal;

                margin: 0;
                padding: 20px 0;
            }
            p
            {
                margin: 0;
            }
        }
        .blue-box-p
        {
            margin: 20px 0;

            color: map-get($colorMaps,blue);
        }
    }
    .yel
    {
        position: relative;

        width: 40%;
        .text-left
        {
            color: map-get($colorMaps,blue);
        }
        .yel-box-jt
        {
            position: relative;
            z-index: 10;

            display: block;

            width: 6px;
            height: 150px;
            margin-left: 255px;

            background: map-get($colorMaps,yellow);
        }
        .yel-box-jt2
        {
            position: relative;
            z-index: 5;
            top: -20px;

            display: block;

            width: 0;
            height: 0;
            margin-left: 238px;

            content: '';

            border-top: 60px solid map-get($colorMaps,yellow);
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            &:before
            {
                position: absolute;
                top: -60px;
                left: -20px;

                display: block;

                width: 0;
                height: 0;

                content: '';

                border-top: 20px solid #fff;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
            }
        }
    }
    .jiahao
    {
        position: relative;

        width: 20%;
        height: 194px;
        .heng,
        .shu
        {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            background: map-get($colorMaps,blue);
        }
        .heng
        {
            z-index: 5;

            width: 120px;
            height: 18px;
            margin: -9px 0 0 -60px;
        }
        .shu
        {
            z-index: 6;

            width: 18px;
            height: 120px;
            margin: -60px 0 0 -9px;
        }
    }
    .yel-box
    {
        width: 330px;
        height: 190px;

        color: map-get($colorMaps,blue);
        border: 2px solid map-get($colorMaps,yellow);
        h3
        {
            font-size: 45px;
            font-weight: normal;

            margin: 0;
            padding: 30px 0 10px 0;
        }
        p
        {
            font-size: 35px;

            margin: 10px 0;
        }
    }
    .flow-title
    {
        line-height: 70px;

        width: 670px;
        height: 70px;
        margin: 20px auto;

        color: #fff;
        background: map-get($colorMaps,blue);
    }
    .flow-box
    {
        .pull-left
        {
            font-size: 18px;

            width: 30%;
            padding: 0 20px;

            color: map-get($colorMaps,yellow);
            border: 2px solid map-get($colorMaps,yellow);

            @include sizing;
            &:nth-child(2)
            {
                margin: 0 5%;
            }
        }
    }
}
/* ================金牌名师=================*/
.section-teachers
{
    padding: 10px 0 20px 0;

    background: #f4f4f4;
    .container
    {
        position: relative;

        overflow: hidden;

        height: 750px;
    }
    .photo-box
    {
        position: absolute;
        z-index: 100;
        top: 190px;
        left: 0;

        width: 1060px;
        height: 480px;

        opacity: 0;

        filter: alpha(opacity=0);
        @include scale(1.1,1.1);
        @include transition(all 1s ease);
    }
    .index
    {
        z-index: 200;

        opacity: 1;

        filter: alpha(opacity=100);
        @include scale(1,1);
    }
    @at-root .h1-line
    {
        font-size: 40px;
        font-weight: normal;

        position: relative;

        padding-bottom: 60px;

        color: map-get($colorMaps,blue);
        &:before,
        &:after
        {
            position: absolute;
            left: 50%;

            content: '';
        }
        &:before
        {
            z-index: 12;
            top: 86px;

            width: 160px;
            height: 9px;
            margin-left: -80px;

            background: map-get($colorMaps,yellow);
        }
        &:after
        {
            z-index: 2;
            top: 90px;

            width: 360px;
            height: 2px;
            margin-left: -180px;

            background: #ccc;
        }
    }
    .photo-info
    {
        width: 265px;
        height: 480px;

        color: map-get($colorMaps,blue);
        border: 1px solid #ccc;

        _width: 257px;
        *width: 257px;
        @include sizing;
        .head-photo
        {
            position: relative;
            z-index: 10;
            img
            {
                width: 263px;
                height: 250px;
            }
            .photo-mask
            {
                position: absolute;
                z-index: 12;
                top: 0;
                left: 0;

                display: none;

                width: 100%;
                height: 250px;

                opacity: .6;
                background: #fff;

                filter: alpha(opacity=60);
            }
        }
        &:hover .photo-mask
        {
            display: block;
        }
        &:hover
        {
            color: #fff;
            background: map-get($colorMaps,blue);
        }
        .introduce
        {
            padding: 0 20px;
            h3
            {
                font-size: 30px;
                font-weight: normal;

                margin: 0;
                padding: 20px 0;

                border-bottom: 1px solid map-get($colorMaps,yellow);
            }
        }
    }
    .index-btn
    {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 110px;
        height: 50px;
        margin-left: -55px;
        span
        {
            display: inline-block;

            width: 20px;
            height: 20px;
            margin: 15px;

            cursor: pointer;

            border: 1px solid map-get($colorMaps,blue);
            background: #fff;

            @include radius(50%);
            @include sizing;
        }
        .cur
        {
            background: map-get($colorMaps,blue);
        }
    }
}

/* ================独家保障=================*/
.section-ensure
{
    span
    {
        margin: 0 5px;

        color: map-get($colorMaps,blue);
    }
    .ensure-box
    {
        margin: 40px 0 20px 0;
        .pull-left
        {
            width: 33.333333%;
            margin-bottom: 20px;
        }
        img
        {
            width: 210px;
            height: 210px;
        }
        h4
        {
            color: map-get($colorMaps,blue);
        }
    }
}
/* ================推荐课程=================*/
.section-recommend
{
    padding: 10px 0 20px 0;

    background: #f4f4f4;
    p
    {
        font-size: 20px;

        color: map-get($colorMaps,blue);
    }
    img
    {
        width: 100%;
        height: auto;
    }
}
.footer
{
    position: relative;

    width: 100%;
    height: 60px;

    background: map-get($colorMaps,blue);
    img
    {
        width: 25px;
        height: 25px;
        margin-top: 19px;
    }
    ul
    {
        li
        {
            float: left;
            a
            {
                font-size: 16px;
                line-height: 60px;

                display: block;

                color: #fff;
            }
            &:nth-child(even)
            {
                margin-right: 30px;
            }
        }
    }
    span
    {
        font-size: 16px;
        line-height: 60px;

        position: absolute;
        top: 0;
        right: 0;

        color: #fff;
    }
}
/* ===============加入我们=============== */
.section-banner
{
    width: 100%;
    height: 470px;

    background: map-get($colorMaps, blue);
    .container
    {
        height: 470px;

        background: url('../../dist/img/join-banner.jpg') no-repeat center center;
        background-size: 825px 297px;
    }
}
.section-join-info
{
    .join-line
    {
        position: relative;
        z-index: 10;

        padding: 20px 0;

        border-bottom: 1px solid #ccc;
        &:before,
        &:after
        {
            position: absolute;
            left: 50%;

            display: block;

            width: 0;
            height: 0;
            margin-left: -20px;

            content: '';

            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }
        &:before
        {
            z-index: 15;
            bottom: -19px;

            border-top: 20px solid #fff;
        }
        &:after
        {
            z-index: 12;
            bottom: -20px;

            border-top: 20px solid #b8b8b8;
        }
    }
    .baidu-map
    {
        width: 1060px;
        height: 350px;
        margin: 40px 0;
    }
    .map-point
    {
        width: 700px;
        margin: 0 auto;
        .pull-left
        {
            line-height: 100px;

            width: 150px;
            height: 100px;
            img
            {
                vertical-align: middle;
            }
        }
        .pull-right
        {
            width: 550px;
            p
            {
                color: #666;
            }
        }
    }
    .join-contact
    {
        margin: 40px 0;
        li
        {
            float: left;

            width: 261px;

            border-right: 1px solid #ccc;
            &:last-child
            {
                border-right: 0;
            }
        }
    }
    .job-box
    {
        width: 100%;
        height: auto;
        min-height: 300px;
        margin: 40px 0;

        border: 1px solid #ccc;
        ul li
        {
            line-height: 50px;

            position: relative;
            z-index: 5;

            overflow: hidden;

            height: 50px;

            cursor: pointer;

            border-bottom: 1px solid #ccc;
        }
        .pull-left
        {
            width: 320px;
        }
        .pull-right
        {
            width: 740px;
            min-height: 300px;
            padding: 25px 35px;

            border-left: 1px solid #ccc;

            _width: 739px;
            *width: 739px;
        }
        .icon-span
        {
            position: absolute;
            z-index: 10;
            top: 15px;
            left: 20px;

            display: block;

            width: 22px;
            height: 22px;

            background: url('../../dist/img/jiantou1.png') no-repeat center center;
            background-position: -22px 0;
        }
        .job-name
        {
            margin-left: 60px;
        }
        .job-num
        {
            position: absolute;
            z-index: 10;
            right: 20px;
        }
        .list-active
        {
            color: #fff;
            border-bottom: 1px solid map-get($colorMaps,blue);
            background: map-get($colorMaps,blue);
            .icon-span
            {
                background-position: 0 0;
            }
        }
        .job-explain
        {
            color: #666;
        }
        .job-explain-require
        {
            padding: 15px 0;

            border-bottom: 1px dashed #ccc;
        }
    }
}
/* ===============西游记事=============== */
.section-scroll
{
    overflow: hidden;

    width: 100%;
    height: 570px;

    background: map-get($colorMaps, blue);
    .container > .text-center
    {
        font-size: 20px;

        width: 100px;
        margin: 0 auto;
        padding: 10px 20px;

        cursor: default;

        color: #fff;
        background: map-get($colorMaps,yellow);
    }
    .caret-box
    {
        position: relative;

        width: 305px;
        height: 30px;
        margin: 10px auto;
        i
        {
            display: inline-block;

            width: 5px;
            height: 5px;
            margin: 0 5px;

            background: #fff;

            @include radius(50%);
        }
        .caret
        {
            position: absolute;

            display: inline-block;

            width: 0;
            height: 0;

            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }
        .caret-bottom
        {
            top: 10px;
            left: 50%;

            margin-left: -20px;

            border-top: 20px solid map-get($colorMaps,yellow);
        }
        .caret-top
        {
            bottom: 10px;
            left: 50%;

            margin-left: -20px;

            border-bottom: 20px solid map-get($colorMaps,yellow);
        }
    }
    .his-container
    {
        overflow: hidden;

        height: 400px;
    }
    .his-list
    {
        position: relative;
        z-index: 5;

        width: 100%;
        height: 110px;
        .pull-left,
        .pull-right
        {
            width: 530px;
            margin-top: 20px;
            > div
            {
                padding: 0 20px;
            }
            span
            {
                font-size: 20px;

                color: map-get($colorMaps,yellow);
            }
            p
            {
                color: #fff;
            }
        }
        .pull-left
        {
            text-align: right;
        }
        .pull-right
        {
            text-align: left;
        }
        .his-point
        {
            position: absolute;
            z-index: 15;
            top: 50%;
            left: 50%;

            display: block;

            width: 25px;
            height: 25px;
            margin-top: -12px;
            margin-left: -12px;

            background: map-get($colorMaps,yellow);

            @include radius(50%);
        }
        .his-line
        {
            position: absolute;
            z-index: 10;
            left: 50%;

            display: block;

            width: 2px;
            height: 110px;
            margin-left: -1px;

            background: #fff;
        }
    }
}

.section-lingxing
{
    width: 100%;
    .lingxing-box
    {
        position: relative;

        width: 33.333333%;
        height: 600px;
        .text-center
        {
            font-size: 25px;

            position: absolute;
            top: 20px;
            left: 50%;

            margin-left: -167px;
            padding: 15px 30px;

            color: #fff;
            background: map-get($colorMaps,yellow);
        }
    }
    .up,
    .down,
    .center-left,
    .center-right,
    .down-center
    {
        font-size: 25px;
        line-height: 182px;

        position: absolute;
        z-index: 100;
        left: 50%;

        width: 157px;
        height: 182px;

        cursor: pointer;

        color: #fff;
        background: url('../../dist/img/liubian-lan.png') no-repeat center center;

        @include transition(transform 1s ease);
        &:hover
        {
            @include scale(1.2, 1.2);
            @include origin(center center);
        }
    }
    .up-left,
    .up-right,
    .down-left,
    .down-right
    {
        position: absolute;
        left: 50%;

        width: 157px;
        height: 182px;

        cursor: pointer;

        background: url('../../dist/img/liubian-hui.png') no-repeat center center;
    }
    .up
    {
        top: 60px;

        margin-left: -76px;
    }
    .center-left,
    .up-left
    {
        top: 210px;

        margin-left: -167px;
    }
    .center-right,
    .up-right
    {
        top: 210px;

        margin-left: 15px;
    }
    .down,
    .down-center
    {
        bottom: 60px;

        margin-left: -76px;
    }
    .down-left
    {
        bottom: 60px;

        margin-left: -252px;
    }
    .down-right
    {
        bottom: 60px;

        margin-left: 101px;
    }
}
/*==============资讯页面============*/
/* 轮播图 */
#banner
{
    overflow: hidden;

    width: 100%;
    height: 440px;
    margin-bottom: 30px;
}
#banner .bannerCon
{
    position: relative;

    width: 1060px;
    height: 440px;
    margin: 0 auto;

    background: blue;
}
#banner .bannerCon .before
{
    position: absolute;
    z-index: 333;
    bottom: 0;
    left: -600px;

    width: 600px;
    height: 440px;

    background: rgba(0,0,0,.7);
}
#banner .bannerCon .before img
{
    position: absolute;
    top: 175px;
    right: 20px;

    cursor: pointer;
}
#banner .bannerCon .after
{
    position: absolute;
    z-index: 333;
    right: -600px;
    bottom: 0;

    width: 600px;
    height: 440px;

    background: rgba(0,0,0,.7);
}
#banner .bannerCon .after img
{
    position: absolute;
    top: 175px;
    left: 20px;

    cursor: pointer;
}
#banner .bannerCon .scroll
{
    position: relative;
    left: -1060px;

    width: 2000%;
    height: 440px;
}
#banner .bannerCon .scroll img
{
    float: left;

    width: 1060px;
    height: 440px;
}
#banner .bannerBut
{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 110px;
    height: 40px;
    margin-left: -55px;
}
#banner .bannerBut ul li
{
    float: left;

    width: 7px;
    height: 7px;
    margin: 5px 7px;

    border-radius: 7px;
    background: #ccc;
}
#banner .bannerBut ul li.hover
{
    background: map-get($colorMaps,blue);
}

/*资讯新闻*/
.section-news
{
    .pull-left
    {
        width: 235px;
        > div
        {
            font-size: 18px;
            line-height: 50px;

            position: relative;

            height: 50px;

            color: #fff;
            border-bottom: 1px solid #fff;
            background: map-get($colorMaps,blue);
            i
            {
                position: absolute;
                top: 7px;
                left: 55px;

                display: block;

                width: 35px;
                height: 35px;

                background: url('../../dist/img/logo-xiao.png') no-repeat center center;
                background-size: 35px 35px;
            }
        }
        ul
        {
            padding: 0 10px;
        }
        li
        {
            line-height: 50px;

            height: 50px;

            border-bottom: 1px dashed #ccc;
            a
            {
                display: block;

                color: map-get($colorMaps,black);
            }
            &:last-child
            {
                border-bottom: none;
            }
        }
    }
    .pull-right
    {
        width: 825px;
        min-height: 500px;
        h4
        {
            font-weight: normal;
            line-height: 50px;

            height: 50px;
            margin: 0;
            padding: 0 20px;

            border-bottom: 1px solid map-get($colorMaps,blue);
        }
        ul
        {
            padding: 20px;

            color: map-get($colorMaps,black);
            li
            {
                line-height: 30px;

                position: relative;

                height: 30px;
                padding: 10px 0;
            }
            .title-span
            {
                margin-left: 50px;

                text-align: left;
            }
            .time
            {
                position: absolute;
                top: 10px;
                right: 0;
            }
            .icon-lingxing
            {
                position: absolute;
                top: 10px;
                left: 0;

                display: block;

                width: 30px;
                height: 30px;

                background: url('../../dist/img/sibian.png') no-repeat center center;
                background-size: 30px 30px;
            }
        }
    }
}
.page
{
    padding: 20px;
    span
    {
        display: inline-block;

        padding: 10px;

        cursor: pointer;

        border: 1px solid #ccc;
        &:hover
        {
            color: #fff;
            background: #ccc;
        }
    }
}
.this-page
{
    color: #fff;
    background: #ccc;
}
